.flx-col {
  display: flex;
  flex-direction: column;
}
.flx-row {
  display: flex;
  flex-direction: row;
}
.flx-auto {
  flex: 0 1 auto;
}
.flx-fill {
  flex: 1 1 0;
  overflow-wrap: break-word;
}
.flx-col > .flx-fill {
  min-height: 0;
}
.flx-row > .flx-fill {
  min-width: 0;
}
.flx-col > .flx-scroll {
  overflow-y: auto;
}
.flx-row > .flx-scroll {
  overflow-x: auto;
}
.flx-center {
  display: grid;
  justify-content: center;
  align-content: center;
  overflow-wrap: anywhere;
}
